<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @list.task %>
</p>

<p>
  <strong>Due:</strong>
  <%= @list.due %>
</p>

<p>
  <strong>Done:</strong>
  <%= @list.done %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
